div.row:hover {
  background-color: #e8ab8c;
}

div.row:nth-child(2n):hover {
  background-color: #e8ab8c;
}

div.row:nth-child(2n) {
  background-color: #fad8c0;
}

div.row {
  background-color: #fde5d0;
}

div.row.header {
  background-color: #a2f4b9;
}

div.table {
  display: table;
  max-width: 1073px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

div.row {
  display: table-row;
}

div.col {
  display: table-cell;
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

div.col.rank {
  width: 10px;
  text-align: center;
}
